.Container{
    /* text-align: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
}
@media only screen and (max-width: 700px) {
    .Container{
        width: 90%;
    }
}