.container{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* grid-template-columns: 2fr 1fr 1fr; */
    border: 1px solid gainsboro;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(202, 202, 202);
}
.container p{
    width: 30%;
}
.removeBtnIcon{
    display: none;
}
.removeBtn{
    display: block;
}
@media only screen and (max-width: 1000px) {
    .container{
        width: 100%;
    }
}
@media only screen and (max-width: 625px) {
    .container{
        flex-direction: column;
        /* gap: 20px 0; */
        height: max-content;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .container p{
        width: 80%;
        text-align: center;
    }
    .removeBtnIcon{
        display: block;
    }
    .removeBtn{
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .container p{
        font-size: 14px;
    }
    .removeBtnIcon{
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
    }
}
@media only screen and (max-width: 385px) {
    .rowContainer{
        width: 80%;
    }
    .input{
        width: 80%;
        font-size: 12px;
    }
    .addBtnIcon{
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
    }
}